.class-page {
    background: linear-gradient(45deg, rgb(0, 147, 161), rgb(12, 0, 146));
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.conversations-container {
    background: none;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 60vw;
    min-height: 70vh;
}

.back-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: rgb(116, 0, 204);
}

.back-btn:hover {
    background-color: rgba(116, 0, 204, 0.668);
}

@media (max-width: 680px) {
    .conversations-container {
        width: 85vw;
    }
}
