.user-dashboard {
    background: linear-gradient(45deg, rgb(12, 0, 146), rgb(110, 0, 161));
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.classes-display-container {
    background: rgba(0, 0, 0, 0.322);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 60vw;
    min-height: 70vh;
}

@media (max-width: 680px) {
    .classes-display-container {
        width: 85vw;
    }
}
