.user-dashboard {
    background: linear-gradient(45deg, rgb(12, 0, 146), rgb(110, 0, 161));
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.classes-display-container {
    background: rgba(0, 0, 0, 0.322);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 60vw;
    min-height: 70vh;
}

.sign-out-btn {
    background-color: rgb(38, 0, 255);
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.sign-out-btn:hover {
    background-color: rgb(24, 0, 161);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 680px) {
    .classes-display-container {
        width: 85vw;
    }
}