@import url('https://fonts.googleapis.com/css?family=Orbitron');   

* {
    box-sizing: border-box;
}

.home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #29005b, #3a004c);
    font-family: 'Roboto', sans-serif;

    .main-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-family: 'Orbitron', sans-serif;
        margin: 15px;
    }

    .top-bar {
        margin-top: 0;
        margin-left: 0;
        margin-right: auto;
        display: flex;
    }

    .catchphrase {
        font-family: 'Orbitron', sans-serif;
    }

    .sign-in-btn {
        background-color: rgb(31, 0, 204);
    }

    .create-acc-btn {
        background-color: #607D8B;
    }

    @media (max-width: 768px) {
        .title {
            font-size: 30px;
        }
    }
}