.age-form {
    h4 {
        margin: 0;
        margin-top: 30px;
    }

    .date-input {
        background-color: rgb(43, 44, 49);
        border: none;
        border-radius: 10px;
        height: 30px;
        padding: 20px;
    }

    .submit-btn {
        background-color: rgb(31, 0, 204);
        margin: 10px;
        height: 40px;
        border-radius: 10px;
    }
}
